body {
    background-color: black;
    color: #39ff14;
    font-family: monospace;
}

.clock {
    margin-top: 24px;
    padding: 10px;
    border: 1px dashed #39ff14;
    text-align: left;
}

.clock span {
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
}

#clock {
    display: block;
    margin-top: 5px;
    font-size: 17px;
    text-shadow: 0 0 10px #39ff14;
}

h1 {
    text-align: center;
    font-size: 25px;
    text-shadow: 0 0 10px #39ff14;
}

p {
    text-align: left;
    font-size: 15px;
}

.box {
    width: 330px;
    margin: 50px auto;
    padding: 30px;
    background-color: #111;
    border: 2px solid #39ff14;
}

.buttons {
    text-align: center;
    background-color: black;
    color: #39ff14;
    margin-top: 20px;
}

button {
    background-color: black;
    color: #39ff14;
    border: 1px solid #39ff14;
}
    button:hover {
    background-color: #39ff14;
    color: black;
}
    padding: 10px 20px;
    margin: 5px;
    font-family: monospace;
}

